<!-- Dialog Template for Adding Teacher -->
<mat-card class="mat-elevation-z12 hidden-scrollbar">
  <h2 mat-dialog-title class="popup-title">Add Vehicle</h2>
  <div mat-dialog-content>
    <!-- Personal Details Section -->
    <div class="personal-details">
      <h3 class="details-title">Vehicle Details:</h3>
      <div class="grid">
        <mat-form-field class="input-field">
          <mat-label>Vehicle Type</mat-label>
          <mat-select
            [(ngModel)]="selectedVehicleTypeId"
            (selectionChange)="onVehicleSelect($event.value)"
          >
            <mat-option
              *ngFor="let vehicle of vehicleTypes"
              [value]="vehicle.id"
            >
              {{ vehicle.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Vehicle Reg No.</mat-label>
          <input matInput [(ngModel)]="vehicle.vehicleRegNo" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>No. of Seats</mat-label>
          <input matInput [(ngModel)]="vehicle.noOfSeats" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Driver Name</mat-label>
          <input matInput [(ngModel)]="vehicle.driverName" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Driver Mobile</mat-label>
          <input matInput type="tel" [(ngModel)]="vehicle.driverMobile" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Driver Aadhar</mat-label>
          <input matInput [(ngModel)]="vehicle.driverAadhar" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Driver Address</mat-label>
          <input matInput [(ngModel)]="vehicle.driverAddress" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Remarks</mat-label>
          <input matInput [(ngModel)]="vehicle.remark" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button
      mat-button
      color="primary"
      class="add-vehicle-btn"
      (click)="addVehicle()"
    >
      Add Vehicle
    </button>
  </div>
</mat-card>
