<div class="all-structures-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <!-- Loading Spinner or Text -->
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="container-about">
      <div class="title">Vehicles</div>
      <div class="description">Following table shows all added vehicles</div>
    </div>
    <div class="main-grid">
      <div class="grid-options">
        <div class="grid-btns">
          <span
            class="material-symbols-outlined grid-btn"
            (click)="openAddVehicleDialog()"
          >
            add
          </span>
          <span class="material-symbols-outlined grid-btn delete-btn">
            delete
          </span>
          <span class="material-symbols-outlined grid-btn"> filter_alt </span>
          <span class="material-symbols-outlined grid-btn"> search </span>
        </div>
        <div class="grid-total">
          <span class="total"
            ><span class="total-text">Total Vehicles:</span>
            {{ vehicles.length }}</span
          >
        </div>
      </div>
      <div class="grid-table">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let vehicle; let i = index">
              <b>{{ i + 1 }}.</b>
            </td>
          </ng-container>

          <ng-container matColumnDef="vehicleType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle</th>
            <td mat-cell *matCellDef="let vehicle">
              {{ vehicle?.vehicleType || "-" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="regNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reg No.</th>
            <td mat-cell *matCellDef="let vehicle">
              {{ vehicle?.vehicleRegNo || "-" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="seats">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Seats</th>
            <td mat-cell *matCellDef="let vehicle">
              {{ vehicle?.noOfSeats || "-" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Remark</th>
            <td mat-cell *matCellDef="let vehicle" class="color-blue">
              {{ vehicle?.remark || "-" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="driverDetails">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Driver Details
            </th>
            <td mat-cell *matCellDef="let vehicle" class="student-info">
              <a class="student-info-link">
                <div class="student-details">
                  <span
                    ><b>Name: </b>
                    <span>{{ vehicle.driverName || "-" }}</span></span
                  >
                  <span
                    ><b>Mobile: </b>
                    <span class="color-blue">{{
                      vehicle.driverMobile || "-"
                    }}</span></span
                  >
                  <span
                    ><b>Aadhar: </b>
                    <span>{{ vehicle.driverAadhar || "-" }}</span></span
                  >
                  <span
                    ><b>Address: </b>
                    <span>{{ vehicle.driverAddress || "-" }}</span></span
                  >
                </div>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let vehicle">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editVehicle()">Edit</button>
                <button mat-menu-item (click)="deleteVehicle()">Delete</button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
