<mat-card class="mat-elevation-z12 hidden-scrollbar">
  <h2 mat-dialog-title class="popup-title">Add Route</h2>
  <div mat-dialog-content>
    <div class="personal-details">
      <h3 class="details-title">Route Mapping Details:</h3>
      <div class="grid">
        <!-- Vehicle Dropdown -->
        <mat-form-field class="input-field">
          <mat-label>Vehicle</mat-label>
          <mat-select [(ngModel)]="vehicleRouteMapping.vehicle">
            <mat-option
              *ngFor="let vehicleName of vehicleNames"
              [value]="vehicleName.vehicle"
            >
              {{ vehicleName.vehicle }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Vehicle Route Dropdown -->
        <mat-form-field class="input-field">
          <mat-label>Vehicle Route</mat-label>
          <mat-select [(ngModel)]="vehicleRouteMapping.vehicleRoute">
            <mat-option
              *ngFor="let vehicleRoute of vehicleRoutes"
              [value]="vehicleRoute.routeName"
            >
              {{ vehicleRoute.routeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Transport Fee -->
        <mat-form-field class="input-field">
          <mat-label>Transport Fee</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="vehicleRouteMapping.transportFee"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button
      mat-button
      color="primary"
      class="add-vehicle-btn"
      (click)="addVehicleRouteMapping()"
    >
      Add Vehicle Route Mapping
    </button>
  </div>
</mat-card>
