<header class="header">
  <div class="header-bound">
    <div class="logoContainer">
      <img
        src="https://cfdblob.blob.core.windows.net/logo/CDK_Logo.png"
        alt=""
        class="logo"
        routerLink="/"
      />
    </div>
    <div class="menu-bar" style="display: none !important">
      <div class="menu-icons">
        <span class="material-symbols-outlined icon-menu"> menu </span>
        <span class="menu-title">Menu</span>
      </div>
    </div>

    <div class="query">
      <input
        type="text"
        placeholder="Search for teachers, students and more"
        class="searchbar"
      />
      <!-- <a href="" class="submit">
        <span class="material-symbols-outlined icon-search"> search </span>
      </a> -->
    </div>
    <div class="action">
      <div class="user user-profile">
        <div class="user-icons">
          <span class="material-symbols-outlined icon-user"> person </span>
          <!-- <span class="user-title">Profile</span> -->
        </div>
      </div>
    </div>
  </div>
</header>
