<div class="all-marksheets-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <!-- Loading Spinner or Text -->
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="container-about">
      <div class="title">Marksheet</div>
      <div class="description">Following table shows all marksheet</div>
    </div>
    <div class="main-grid">
      <div class="grid-options">
        <div class="grid-btns">
          <span
            class="material-symbols-outlined grid-btn"
            (click)="openAddMarksheetDialog()"
          >
            add
          </span>
          <span class="material-symbols-outlined grid-btn delete-btn">
            delete
          </span>
          <span class="material-symbols-outlined grid-btn"> filter_alt </span>
          <span class="material-symbols-outlined grid-btn"> search </span>
        </div>
        <div class="grid-total">
          <span class="total"
            ><span class="total-text">Total Marksheet:</span>
            {{ marksheetList.length }}</span
          >
        </div>
      </div>
      <div class="grid-table">
        <!-- <table mat-table [dataSource]="dataSource" matSort>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table> -->

        <!-- Paginator -->
        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
